<div id="settings-content" class="tab-content stacked-content ng-scope" ng-view="">

    <div class="page-team-setting layout-main-content ng-scope">
        <div class="heading-block">
            <!-- ngIf: vm.teamId == 0 -->
            <p ng-if="vm.teamId == 0" class="title-box ng-scope"><i class="fa fa-map-marker" aria-hidden="true"></i>
                Lịch sử đặt sân </p><!-- end ngIf: vm.teamId == 0 -->
            <!-- ngIf: vm.teamId > 0 -->
            <div class="alert alert-success" *ngIf="info">
                    <strong>Success!</strong> {{info}}
                  </div>
            <div style="float: right;"> <a  routerLink="/datsan" class="btn btn-primary">

                    Đặt sân
                </a></div>
        </div> <!-- /.heading-block -->
        
        <table class="table table-striped table-booking-requests table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã sân</th>
                    <th>Người đặt</th>
                    <th>Thời gian</th>
                    <th>Nội dung</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ds of arrds| paginate: { itemsPerPage: 10, currentPage: p };index as i">
                    <td>{{i}}</td>
                    <td><a routerLink="/chitiet/{{ds.masanbong}}">{{ds.masanbong}}</a>
                        </td>
                    <td>{{ds.tennguoidat}}</td>
                    <td>{{ds.ngay|date:'dd/MM/yyyy'}} lúc {{ds.batdau}}</td>
                    <td>{{ds.ghichu}}</td>

                    <td (click)="delete(ds.madatsan)">
                        <a  
                            class="btn btn-primary btn-primary-extra dropdown-toggle"><i class="fa fa-close"></i></a>
                    </td>
                </tr>
                <!-- ngRepeat: item in bookingRequests -->
                <!-- ngIf: bookingRequestsCount==0 -->
                <tr  *ngIf="arrds.length==0" >
                    <td colspan="6">
                        Không có yêu cầu đặt sân nào
                    </td>
                </tr><!-- end ngIf: bookingRequestsCount==0 -->
            </tbody>
        </table>
        <div class="col-md-12">
            <div class="pagination_container">
              <pagination-controls class="pagination_container" previousLabel="Trước" nextLabel="Tiếp" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>