<footer class="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-2 col-md-3 col-1-footer">
            <a class="navbar-brand  p-3 mb-5  " href="index.html" style="font-size: 30px">Sân Bóng Vinh</a>
            <div class="login-social-footer">
                <a class="" href="javascript:void(0)">
                <i class="fa fa-facebook-square"></i>
            </a>
                <a class="" href="javascript:void(0)">
                <i class="fa fa-google-plus-square"></i>
            </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 intro">
            <ul>
                <li>
                    <h5>Websites</h5>
                </li>
                <li>
                    <a href="mailto:timdoinhanh.com@gmail.com">
                    <span>
                        <i class="fa fa-envelope-o"></i>
                        abc.com@gmail.com
                    </span>
                </a>
                </li>
                <li>
                </li>
                <li>
                    <a href="#" target="_blank">
                    <span>
                        <i class="fa fa-facebook-f"></i>
                        Facebook
                    </span>
                </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                    <span>
                        <i class="fa fa-youtube-play"></i>
                        Youtube
                    </span>
                </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 info">
            <ul>
                <li>
                    <h5>Thông tin</h5>
                </li>
                <li>
                    <a href="gioi-thieu.html">
                    <span>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Giới thiệu
                    </span>
                </a>
                </li>
                <li>
                    <a href="tien-ich.html">
                    <span>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Tiện ích
                    </span>
                </a>
                </li>
                <li>
                    <a href="dieu-khoan-su-dung.html">
                    <span>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Điều khoản sử dụng
                    </span>
                </a>
                </li>
                <li>
                    <a href="chinh-sach-bao-mat.html">
                    <span>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Chính sách bảo mật
                    </span>
                </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 mobile-app">
            <ul>
                <li>
                    <h5>
                    Ứng dụng
                </h5>
                </li>
                <li>
                    <a href="#">
                    <img src="assets/img/app-store.png" class="app-store">
                </a>
                    <a href="#">
                    <img src="assets/img/ch-play.png" class="ch-play">
                </a>
                </li>
                <li>
                    <p>
                        Hãy tải ngay ứng dụng <strong>miễn phí</strong> vào điện thoại của bạn để cập nhật thông tin nhanh nhất, mọi lúc, mọi nơi.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>