<div class="container" style="float: right;">
  <h1 style="text-align: center; color: #43a047 ;margin: 60px">Thống kê</h1>
  <div class="row" style=" display: flex;">
      <div class="list-item-san text-center" style=" width: 25%; font-size: 20px"> <h3 class="text-info">Tổng số tài khoản:</h3>{{thongke[0]}}</div>
      <div class="list-item-san text-center" style="width: 25%; font-size: 20px"> <h3 class="text-info">Tổng số sân bóng:</h3>{{thongke[1]}}</div>
      <div class="list-item-san text-center" style=" width: 25%; font-size: 20px"> <h3 class="text-info">Tổng số đội bóng:</h3>{{thongke[2]}}</div>
      <div class="list-item-san text-center" style=" width: 25%; font-size: 20px"> <h3 class="text-info">Tổng số lượt đặt sân:</h3>{{thongke[3]}}</div>
      
  </div>
   <h2 style="text-align: center; color: #43a047; margin:30px ">Top 5 sân nhiều người đặt</h2>
  <div class="row">
      <table class="table table-hover " style="margin-left: 25%; margin-right: 20%; width: 50%">
          <thead>
              <tr>
                  <th>Tên sân</th>
                 
                  <th>Khu vực</th>
                  <th>Số lượt đặt sân</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let t of top">
                  <td>{{t.tensan}}</td>
                  
                  <td>{{t.khuvuc}}</td>
                  <td>{{t.luot}}</td>
              </tr>
            
          </tbody>
      </table>
    
  </div>

  <h2 style="text-align: center; color: #43a047">Thông báo</h2>
  <app-thongbao></app-thongbao>
<!--End container-->
</div>