<div class="top-hero-box">
   
            <div  style="padding:15% 0 0 20%;width: 50%">
                    <h3 class="display-5">Chào mừng bạn đến với trang quản trị</h3>
                    <p class="lead">Khu vực này dành cho các quản trị viên</p>
                    <hr class="my-4">
                    <p>Nếu bạn không phải thành viên quản trị hãy trở về trang chủ</p>
                    <p class="lead">
                      <a class="btn btn-primary btn-lg"   data-toggle="modal" data-target="#loginadmin">Đăng nhập</a>
                    </p>
                  </div>
    
</div>
<!--End container-->